/* GLOBAL SETTINGS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* BASE COLORS */
/* BACKGROUND COLORS */
.bg-white {
  background-color: #FFFFFF;
}

.bg-light {
  background-color: #f3f3f3;
}

.bg-primary {
  background-color: #333;
}

.bg-secondary {
  background-color: #666;
}

.bg-darkest {
  background-color: #0a0a0a;
}

.bg-black {
  background-color: #000000;
}

/* BASE FONTS - TYPESET */
/* MIXINS */
.card .card-overlay, .card .card-image {
  width: 100%;
  height: 100%;
}

/* UTILITIES */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* BRAND TEXT */
.brand-link {
  text-decoration: none;
  font-family: "Red Hat Display", sans-serif;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1.5rem;
}

.brand-title {
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Red Hat Display", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: #FFFFFF;
}

.brand-subtitle {
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  color: #FFFFFF;
}

/* MAIN TEXT */
.main-heading {
  font-family: "Red Hat Display", sans-serif;
  font-size: 5rem;
  font-weight: 300;
  color: #FFFFFF;
  margin-bottom: 2rem;
}

.sub-heading {
  font-family: "Red Hat Display", sans-serif;
  font-size: 4rem;
  font-weight: 300;
  color: #f3f3f3;
  margin-bottom: 0.5rem;
}

.header-subheader {
  font-family: "Red Hat Display", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: #f3f3f3;
  margin-bottom: 1rem;
}

.title_sm {
  font-family: "Red Hat Display", sans-serif;
  font-size: 2rem;
  font-weight: 200;
  color: #f3f3f3;
  margin-bottom: 0.2rem;
}

.body-text_md {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #FFFFFF;
  margin-bottom: 0.2rem;
}

.body-text_xl {
  font-family: "Red Hat Display", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  color: #FFFFFF;
  margin-bottom: 0.2rem;
}

/* BUTTONS */
.main-button {
  width: 170px;
  height: 45px;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #FFFFFF;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
}
.main-button:hover {
  background-color: #f3f3f3;
  color: #0a0a0a;
}

/* CARD */
.card {
  position: relative;
  overflow: hidden;
  /* CHILD ELEMENT (OVERLAY) GEKOPPELD DOOR DEZE .class TE VERMELDEN NA HET HOVER ELEMENT (CARD)) */
}
.card:hover .card-overlay {
  left: 0;
  transition: all 0.7s;
  backdrop-filter: blur(2px);
}
.card .card-overlay {
  position: absolute;
  top: 0;
  left: -100%;
  padding: 4rem;
  background-color: rgba(10, 10, 10, 0.2);
  color: #FFFFFF;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: start;
}
.card .card-overlay .card-overlay-heading {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 500;
}
.card .card-overlay .card-overlay-paragraph {
  font-family: "Red Hat Display", sans-serif;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
.card .card-overlay .card-overlay-button {
  width: 150px;
  height: 40px;
  color: #333;
  background-color: #FFFFFF;
  font-family: "Red Hat Display", sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  border: 1px solid #f3f3f3;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  transition: all 0.7s;
}
.card .card-overlay .card-overlay-button:hover {
  color: #f3f3f3;
  background-color: rgba(10, 10, 10, 0.5);
  border: 1px solid #FFFFFF;
}
.card .card-image {
  object-fit: cover;
  padding: 5px;
}

/* ALGEMENE LAYOUT */
/* NAVBAR */
.navbar {
  height: 72px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .navbar-brand .navbar-logo {
  max-width: 60px;
  object-fit: contain;
}
.navbar .navbar-links .navbar-list .navbar-listitem {
  list-style-type: none;
  color: #333;
  display: inline;
}
.navbar .navbar-links .navbar-list .navbar-listitem .navbar-link {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  font-size: 0.95rem;
  margin-left: 1.25rem;
}

/* HEADER */
/* TOP */
.header {
  width: 100%;
  height: 55vh;
  background: linear-gradient(rgba(10, 10, 10, 0.75), rgba(10, 10, 10, 0.4)), url("../assets/bg_1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.header .brand {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .header-banner {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* GALLERY */
.gallery_header {
  margin-top: 1rem;
  padding: 2rem;
}

.gallery .cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: #0a0a0a;
  padding: 2rem;
}
.gallery .cards-wrapper .card {
  width: 25%;
  aspect-ratio: 1/1;
  padding: 0.5rem;
}

/* TOP */
.home-transition {
  width: 100%;
  height: 65vh;
  padding: 4rem 0;
  background: linear-gradient(#0a0a0a, rgba(10, 10, 10, 0.5)), url("../assets/bg_1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-transition .body-text_xl {
  max-width: 35ch;
  text-align: center;
}

/* FOOTER */
.footer {
  padding: 3rem 1rem 3rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer .footer-header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.footer .footer-social-media .social-media {
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.footer .footer-social-media .social-media .social-media-item {
  list-style-type: none;
}
.footer .footer-social-media .social-media .social-media-item .social-media-link {
  text-decoration: none;
  font-size: 2rem;
  color: #FFFFFF;
}
.footer .footer-social-media .social-media .social-media-item .social-media-link:hover {
  color: #f3f3f3;
  transition: all 0.7s;
}
.footer .footer-copyright {
  font-family: "Red Hat Display", sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  text-transform: capitalize;
}

/*# sourceMappingURL=main.css.map */
