@use "base" as *;

/* ALGEMENE LAYOUT */

/* NAVBAR */

.navbar {
  height: 80px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: between;

  .navbar-brand {

    .navbar-logo {
      max-width: 60px;
      object-fit: contain;
    }
  }
  .navbar-links {
    .navbar-list {
      .navbar-listitem {
        list-style-type: none;
        color: $color-primary;
        display: inline;
        .navbar-link {
          text-decoration: none;
          color: $color-white;
          font-family: $font-redhat-display;
          font-weight: 400;
          font-size: 1.2rem;
          margin-left: 1.25rem;
        }
      }
    }
  }
}

/* HEADER */


/* TOP */

.header {
  width: 100%;
  height: 60vh;
  background: linear-gradient(rgba($color-darkest, .6), rgba($color-black, .4)), url("../assets/bg_1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .brand {
    @include positionFromTop(15%);
    @include flexlayout();
  }
  .header-banner {
    @include positionFromTop(50%);
    text-align: center;
  }
}

/* GALLERY */

.gallery_header {
  margin-top: 2rem;
  padding: 2rem;
}

.gallery {
  .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    background-color: $color-darkest;
    padding: 2rem;
    .card {
      width: 25%;
      aspect-ratio: 1 / 1;
      padding: .5rem;
    }
  }
}

/* FOOTER */

.footer {
  padding: 70px 10px 70px 10px;
  @include flexlayout();
  flex-direction: column;
  .footer-header {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
  }
  .footer-social-media {
    .social-media {
      display: flex;
      width: 300px;
      justify-content: space-between;
      margin-bottom: 70px;
      .social-media-item {
        list-style-type: none;
        .social-media-link {
          text-decoration: none;
          font-size: 2rem;
          color: $color-white;
          &:hover {
            color: $color-light;
            transition: all 0.7s;
          }
        }
      }
    }
  }
  .footer-copyright {
    font-family: $font-redhat-display;
    font-size: 18px;
    color: $color-white;
    @include textStyles(capitalize);
  }
}