@use "base" as *;

/* ALGEMENE LAYOUT */

/* HEADER */


/* TOP */

.hero {
  padding-top: 72px;
  width: 100%;
  height: 66.66vh;
  background: linear-gradient(rgba($color-darkest, .75), rgba($color-darkest, .4)), url("../assets/bg_1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .brand {
    @include positionFromTop(40%);
    @include flexlayout();
  }
  .hero-banner {
    @include positionFromTop(75%);
    text-align: center;
  }
}

/* GALLERY */

.gallery_header {
  margin-top: 1rem;
  padding: 2rem;
}

.gallery {
  .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    background-color: $color-darkest;
    padding: 2rem;
    .card {
      width: 25%;
      aspect-ratio: 1 / 1;
      padding: .5rem;
    }
  }
}

/* TOP */

.home-transition {
  width: 100%;
  height: 65vh;
  padding: 4rem 0;
  background: linear-gradient(rgba($color-darkest, 1), rgba($color-darkest, .5)), url("../assets/bg_1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include flexlayout();
  .body-text_xl {
    max-width: 35ch;
    text-align: center;
  }
}

/* FOOTER */

.footer {
  padding: 3rem 1rem 3rem 1rem;
  @include flexlayout();
  flex-direction: column;
  .footer-header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }
  .footer-social-media {
    .social-media {
      display: flex;
      width: 300px;
      justify-content: space-between;
      margin-bottom: 2rem;
      .social-media-item {
        list-style-type: none;
        .social-media-link {
          text-decoration: none;
          font-size: 1.5rem;
          color: $color-white;
          &:hover {
            color: $color-light;
            transition: all 0.7s;
          }
        }
      }
    }
  }
  .footer-copyright {
    font-family: $font-redhat-display;
    font-size: 18px;
    color: $color-white;
    @include textStyles(capitalize);
  }
}